@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}

<h1 class="text-center text-primary fw-bold shadow-sm p-3 mb-4 bg-light rounded">Bienvenido a mi proyecto</h1>

